.container{
    background-image: url('https://www.maybelline.com.ar/-/media/project/loreal/brand-sites/mny/americas/latam/tini_musiccollection_1440x540.jpg?rev=194c5e1b57d14503a1bafb796bd731f9&cx=0.45&cy=0.48&cw=1440&ch=540&hash=7CF278E16079C0B7EF7807A6951C149A');
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid  rgb(211, 180, 180);
}

.container h3 {
    font-size: 5em; 
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
}

.container p {
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
}

.container p:hover{
    cursor: pointer;
    text-decoration: underline;
}
